@font-face {
    font-family: 'arialblack';
    src: url('../fonts/ariblk-webfont.woff2') format('woff2'),
         url('../fonts/ariblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow-x: hidden;
}

a, a:link, a:visited {
    outline: none;
	text-decoration: none;	
}

img {
	border: none;
	margin: 0px;
}


h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

h3, h4, h5, h6 {
	font-size: .9em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

form, input, select, textarea, p {
	margin: 0px;
	padding: 0;
}

textarea {
	resize: none;
}

input:focus, textarea:focus {
	outline: none;
}

input::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section, time {  
	display: block; 
	margin: 0px;
	padding: 0; 
} 

.customClear {
	clear: both;
	font-size: 0em;
	line-height: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.overlay {
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.modal_wrapper {
	width: 100%;
	position: absolute;
	padding-top: 50px;
	top: 0;
	left: 0;
	z-index: 1001;
	display: none;
}


/*IE below 9*/
#ieWrapper {
	background: #000;
	position: fixed;
	z-index: 100;
	top: 0;	left: 0;
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ieHolder {
	position: relative; 
	width: 555px;
	padding: 20px;
	margin: 200px auto 0 auto;
	background: #FFF;
	border: 7px solid #2b2927;
}

.btnIeUpdate {
	background: url(../images/btnIeUpdate.jpg) 0 0 no-repeat;
	width: 144px;
	height: 37px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.ieLogo {
	float: left;
	width: 134px;
	height: 139px;
	background: url(../images/ieLogo.jpg) no-repeat 0 0;
}

.ieContent {
	float: right;
	margin: 0;
	padding: 0;
	width: 400px;
	color: #666;
	font-size: 15px;
	line-height: 18px;
}

.ieContent strong {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #cccccc;
	display: block;
	font-size: 18px;
	color: #333;
	font-weight: normal;
}
/*End IE below 9*/

.pageHeader {
	background: #6397cd;
	width: 100%;
	padding: 30px 0 17px;
	box-sizing: border-box;
	position: relative
}

.headerRight ul {
	margin: 0;
	padding: 30px 0 0;
	list-style: none;
	float: right;
}

.pageLogo figure {
	margin: 0;
}

.headerRight li {
	margin-right: 50px;
	vertical-align: top;
	display: inline-block;
}

.headerRight li:last-child {
	background-image: none;
	margin: 0;
}

.headerRight li:nth-child(3){
	margin-right: 10px;
}

.headerRight li:nth-child(3) img {
	margin: 4px 0 0;
}

.headerRight li:nth-child(3) figure, .headerRight li:last-child figure  {
	background: none;
}

.headerRight figure {
	background: url(../images/iconDownloadHolder.png) no-repeat center center;
	width: 31px;
	height: 30px;
	position: relative;
	margin: 0;
}

.headerRight img.iconArrow {
	position: absolute;
	top: 0;
	left: 9px;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.headerRight li:hover img.iconArrow {
	top: 4px;
}

.headerRight span {
	font-family: 'arialblack';
	font-size: 14px;
	text-transform: uppercase;
	line-height: 13px;
	padding: 0 0 0 5px;
	box-sizing: border-box;
	vertical-align: top;
}

.headerRight a {
	color: #FFF;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.headerRight li a:hover {
	color: #fab231;
}


.headerRight figure, .headerRight span {
	display: inline-block;
}

.headerRight li.socialIcon {
	overflow: hidden;
	position: relative;
	height: 32px;
}

.headerRight li.socialIcon a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.headerRight li.socialIcon img {
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.headerRight li.socialIcon:hover img {
	margin-top: -31px;
}

.bannerArea {
	background: url(../images/bgHome.jpg) no-repeat center center;
	background-size: cover;
	width : 100%;
	min-height: 570px;
	position: relative;
}

.bannerContent {
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
}

.bannerArea h1 {
	font-family: 'proxima_nova_rgbold';
	font-size: 78px;
	color: #fcb316;
	font-weight: normal;
	text-align: center;
	line-height: 84px;
	margin: 0;
	padding: 100px 0 0;
	box-sizing: border-box;
	display: block;
}

.bannerArea span {
	font-family: 'Georgia';
	font-size: 32px;
	color: #ffffff;
	text-align: center;
	line-height: 34px;
	display: block;
}

.pageNav {
	background: rgba(99,151,205,0.90);
	position: absolute;
	width: 100%;
	height: 75px;
	bottom: 0;
	left: 0;
	padding: 20px 0;
	box-sizing: border-box;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
	display: block;
}

.pageNav ul {
	font-size: 0px;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	transform: translateX(0%);
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
	display: block;
}

.pageNav p {
	display: none;
}

.pageNav li {
	font-size: 0px;
	position: relative;
	display: inline-block;
    
    
}

.pageNav li span {
	width: 35px;
	height: 35px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-right: 50px;
	position: relative;
}

.pageNav li em {
	font-family: 'arialblack';
	font-size: 15px;
	text-transform: uppercase;
	font-style: normal;
	width: 200px;
	box-sizing: border-box;
	padding: 10px;
	position: absolute;
	line-height: 17px;
    left: -78px;
	right: 0;
	margin: auto;
	text-align: center;
	opacity: 0;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.pageNav.sticky {
	background: rgba(99,151,205,1);
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	z-index: 100;
}

.pageNav.sticky ul {
	margin: 11px 0 0;
	transform: translateX(20%);
  	transition: transform ease-out-expo 600ms;
}

.pageNav li span:hover em {
	opacity: 1;
}

.pageNav li span a {
	text-indent: -9999px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	width: 35px;
	height: 35px;
	border-width: 4px;
	border-style: solid;
	display: block;
}

.pageNav li span a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
	margin: auto;
}

.pageNav li:hover span a:after {
	width: 100%;
	height: 100%;
}

.pageNav li:last-child {
	margin: 0;
}

.pageNav li:nth-child(2) span a {
	border-color: #fab231;
}

.pageNav li:nth-child(2):hover span a:after, .pageNav li:nth-child(2).selected  span a {
	background: #fab231;	
}

.pageNav li:nth-child(3) span a {
	border-color: #154c8c;
}

.pageNav li:nth-child(3):hover span a:after, .pageNav li:nth-child(3).selected span a {
	background: #154c8c;	
}

.pageNav li:nth-child(4) span a {
	border-color: #FFF;
}

.pageNav li:nth-child(4):hover span a:after, .pageNav li:nth-child(4).selected span a {
	background: #FFF;	
}

.pageNav li:nth-child(5) span a {
	border-color: #fab231;
}

.pageNav li:nth-child(5):hover span a:after, .pageNav li:nth-child(5).selected span a {
	background: #fab231;	
}

.pageNav li:nth-child(6) span a {
	border-color: #154c8c;
}

.pageNav li:nth-child(6):hover span a:after, .pageNav li:nth-child(6).selected span a {
	background: #154c8c;	
}

.pageNav li:nth-child(7) span a {
	border-color: #FFF;
}

.pageNav li:nth-child(7):hover span a:after, .pageNav li:nth-child(7).selected span a {
	background: #FFF;	
}

.pageNav li:nth-child(8) span a {
	border-color: #fab231;
}

.pageNav li:nth-child(8):hover span a:after, .pageNav li:nth-child(8).selected span a {
	background: #fab231;	
}

.pageNav li:nth-child(9) span a {
	border-color: #154c8c;
}

.pageNav li:nth-child(9):hover span a:after, .pageNav li:nth-child(9).selected span a {
	background: #154c8c;	
}

.pageNav li:nth-child(10) span a {	border-color: #FFF;
}

.pageNav li:nth-child(10):hover span a:after, .pageNav li:nth-child(10).selected span a {
	background: #FFF;	
}

.pageNav li p::after {
	clear: both;
}

.mobNav {
	position: absolute;
    bottom: 13px;
    right: 15px;
    z-index: 300;
    display: none;
}

.logoWrapper {
	display: table;
}

img.mobileLogo {
	max-width: 66%;	
}


.mobileLogo {
	display: none;
}

.logoAndTitle {
	position: absolute;
	height: 73px;
	top: 14px;
	left: 110px;
	z-index: 200;
}

.titleText {
	 font-family: 'arialblack';
	 font-size: 16px;
	 color: #FFF;
    width: 176px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    vertical-align: middle;
    display: none;
}

.pageNav.sticky, .sticky .titleText {
	display: table-cell;
}

.pageNav .logoSmall {
	width: 85px;
	height: 0;
	overflow: hidden;
	border-right: 1px solid #FFF;
}

.pageNav.sticky .logoSmall {
	height: 72px;
}

.pageNav.sticky em {
	background: #6397cd;
	top: 69px!important;
}

.pageNav li span i {
	position: absolute;
	bottom: 35px;
	width: 2px;
	height: 0;
	background: #FFF;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.pageNav li:hover span i {
	height: 28px
}

.pageNav.sticky li span i {
	display: none;
}

.pageNav .logoSmall img {
	max-width: 80%;
	margin-top: -100px;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.pageNav.sticky .logoSmall img {
	margin-top: 0px;
}

.iconMobNav {
  width: 35px;
  height: 37px;
  position: relative;
  margin: 7px 0 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s linear;
  -moz-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
  cursor: pointer;
   opacity: 1;
   display: block;
}

.iconMobNav span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #FFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s linear;
  -moz-transition: .25s linear;
  -o-transition: .25s linear;
  transition: .25s linear;
}

.iconMobNav  span:nth-child(1) {
  top: 0px;
}

.iconMobNav span:nth-child(2), .iconMobNav  span:nth-child(3) {
  top: 11px;
}

.iconMobNav span:nth-child(4) {
  top: 22px;
}

.iconMobNav.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.iconMobNav.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.iconMobNav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.iconMobNav.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nowTheTimwe {
	font-family: 'proxima_nova_rgbold';
	font-size: 30px;
	color: #6397cd;
	width: 100%;
	text-align: center;
	background: #FFF;
	padding: 60px 0;
	box-sizing: border-box;
}

.pageCenter {
	width: 88%;
	margin: 0 auto;
}

.waterShedYer {
	background: #fcb316;
	padding: 50px 0;
	text-align: center;
	box-sizing: border-box;
}

.waterShedYer h2, .equalities h2, .humanitarianSettings h2, .adolescents h2, .healthSector h2, .heightendSection h2, .clearlyDefinedRoadmap h2, .furtherAction, .accountability h2 {
	font-family: 'proxima_nova_rgbold';
	font-size: 44px;
	font-weight: normal;
	line-height: 50px;
	text-align: center;
	padding-bottom: 35px;
	display: block;
}

.waterShedYer h2, .humanitarianSettings h2, .healthSector h2, .clearlyDefinedRoadmap h2 {
	color: #FFF;
}

.waterShedYer p {
	font-family: 'Georgia';
	font-size: 32px;
	line-height: 40px;
	color: #FFF;
}

.waterShedYer span {
	color: #6397cd;
}

.qualityListWrapepr {
	padding: 80px 0 0;
}

.equalities {
	width: 100%;
	background: #FFF url(../images/bgInequality.png) no-repeat center center;
	padding: 50px 0;
	box-sizing: border-box;
}
.equalities h2 {
	color: #fcb316;
	text-align: center;
}

.equalities span {
	font-family: 'Georgia';
	font-size: 32px;
	text-align: center;
	line-height: 40px;
	color: #6397cd;
	display: block;
}

.qualityListWrapepr .column {
	padding: 0 15px;
	box-sizing: border-box;
}

.equalitiesList {
	border-top: 4px solid #fcb316;
	padding: 20px 0 30px;
	box-sizing: border-box;
}

.equalitiesList span {
	font-size: 24px;
	display: inline;
}

.equalitiesList p {
	font-size: 18px;
	color: #000;
}

.humanitarianSettings {
	background: #16498d url(../images/bgHumanitarian.png) no-repeat center center;
	padding: 70px 0;
	box-sizing: border-box;
}

.humanitarianSettings h2 {
	text-align: center;
	padding-bottom: 20px;
}

.humanitarianSettings p {
	 font-family: 'Georgia';
	font-size: 24px;
	color: #FFF;
	display: block;
}

.humanitarianSettings .column {
	padding: 0 15px;
	box-sizing: border-box;
}

.humanitarianSettings p {
	line-height: 32px;
	padding-bottom: 20px;
}

.adolescents {
	padding: 70px 0;
	box-sizing: border-box;
}

.adolescents h2 {
	color: #6397cd;
}

.adolescents p {
	 font-family: 'Georgia';
	font-size: 24px;
	color: #000;
	display: block;
}

.adolescents .column {
	padding: 0 15px;
	box-sizing: border-box;
}

.adolescents p {
	line-height: 32px;
	padding-bottom: 20px;
}

.healthSector {
	background: #fcb316 url(../images/bgHealthSector.png) no-repeat center center;
	padding: 70px 0;
}

.healthSector p {
	 font-family: 'Georgia';
	font-size: 24px;
	color: #000;
	padding-bottom: 20px;
	display: block;
}

.healthSector .column {
	padding: 0 15px;
	box-sizing: border-box;
}

.heightendSection {
	padding: 70px 0;
	box-sizing: border-box;
}

.heightendSection h2, .accountability {
	color: #6397cd;
}

.heightendList {
	width: 97%;
	padding-bottom: 97%;
	background: white;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	position: relative;
}

.heightendListWrapepr .column:nth-child(1) .heightendList {
	background: #6397cd;
}

.heightendListWrapepr .column:nth-child(2) .heightendList {
	background: #fcb316;
}

.heightendListWrapepr .column:nth-child(3) .heightendList {
	background: #16498d;
}

.heightendListWrapepr .column:nth-child(4) .heightendList {
	background: #fcb316;
}

.heightendListWrapepr .column:nth-child(5) .heightendList {
	background: #16498d;
}

.heightendListWrapepr .column:nth-child(6) .heightendList {
	background: #6397cd;
}

.heightendListWrapepr .column {
	padding: 0 15px 35px 0;
	box-sizing: border-box;
}

.tableWrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.tableContent {
	width: 100%;
	height: 100%;
	display: table;
}

.tableContentText {
	font-size: 17px;
	color: #FFF;
	padding: 30px;
	line-height: 26px;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	text-align: center;
}

.heightendListWrapepr .heightendList span {
	font-family: 'Georgia';
	font-size: 24px;
	color: #fcb316;
}

.heightendListWrapepr .heightendList em {
	font-family: 'Georgia';
	font-size: 24px;
	font-style: normal;
	color: #16498d;
}

.clearlyDefinedRoadmap {
	background: #16498d;
	padding: 70px 0;
	box-sizing: border-box;
}


.clearlyDefinedRoadmap h2 {
	text-align: center;
}

.clearlyDefinedRoadmap span {
	
}

.clearlyDefinedRoadmap p {
	font-family: 'Georgia';
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #FFF;
	padding-bottom: 20px;
	display: block;
}

.clearlyDefineWrapper {
	max-width: 800px;
	width : 100%;
	padding: 40px 0 50px 0;
	margin: 0 auto;
}

.clearlyDefineList {
	width: 48% !important;
	padding-bottom: 45%;
	border: 10px solid #FFF;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	margin: 0 0 50px;
	position: relative;
}

.clearlyDefineWrapper .column:last-child.clearlyDefineList {
	float: right;
}

.clearlyDefineWrapper span {
	font-family: 'Georgia';
	font-size: 36px !important;
	line-height: 37px;
	color: #fcb316;
}

.clearlyDefinedRoadmap .tableContentText p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #FFF;
	padding-bottom: 20px;
	display: block;
}

.iconCommitment {
	background: url(../images/iconCommitment.png) no-repeat center center;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
}

.iconFinancial {
	background: url(../images/iconFinancial.png) no-repeat center center;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	position: absolute;
	bottom: 10px;
	right: 0;
}

.furtherAction {
	background: #fff7e7;
	box-sizing: border-box;
    padding: 70px 0;
}

.furtherAction h2 {
	color: #fcb316;
	padding-bottom: 40px;
}

.furtherAction h3 {
	font-family: 'arialblack';
	font-weight: normal;
	font-size: 24px;
	color: #6397cd;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 5px;
	display: block;
}

.furtherAction figure {
	width: 149px;
	height: 148px;
	margin: 0 auto 20px auto;
	display: block;
}

.furtherAction p {
	font-family: 'Georgia';
	font-size: 24px;
	color: #000;
	line-height: 30px;
	display: block;
}

.furtherAction .column {
	padding: 0 15px;
	box-sizing: border-box;
}

.accountability {
	box-sizing: border-box;
    padding: 70px 0;
}

.accountability span {
	font-family: 'Georgia';
	font-size: 32px;
	text-align: center;
	line-height: 40px;
	color: #6397cd;
	display: block;
}

.accountabilityLeft {
	padding-top: 50px !important;
}

.accountabilityContent {
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0 0;
}

.accountabilityContent .column {
	padding: 0 15px;
	box-sizing: border-box;
}


.accountabilityContent h3 {
	font-family: 'arialblack';
	font-weight: normal;
	font-size: 24px;
	color: #6397cd;
	text-transform: uppercase;
	padding-bottom: 10px;
	display: block;
}

.accountabilityContent p {
	font-family: 'Georgia';
	font-size: 24px;
	color: #000;
	line-height: 30px;
	padding-bottom: 25px;
	display: block;
}

.countryAccountability, .regionalAccountability {
	width: 100%;
	position: relative;
}

.regionalAccountability {
	margin: 117px 0 0;
}

.countryAccountability img, .regionalAccountability img {
	margin: 0 auto;
	display: block;
}

.countryAccountability .imgReview {
	left: 30px;
    position: absolute;
    top: 50px;
}

.countryAccountability .imgRemedisAction {
	 position: absolute;
    right: 22px;
    top: 3px;
}

.countryAccountability .imgMonitor {
	  bottom: -29px;
    	left: 9px;
    	right: 0;
    	margin: auto;
    position: absolute;
}

.countryAccountability .imgAccountability {
	 bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: auto!important;
}

.regionalAccountability .imgReview {
	bottom: 40px;
    position: absolute;
    right: 36px;
}

.regionalAccountability .imgRemedisAction {
	 bottom: 0;
    left: 20px;
    position: absolute;
}

.regionalAccountability .imgMonitor {
	 position: absolute;
    right: 0;
    top: -30px;
    left: 0;
    margin: auto;
}

.regionalAccountability .imgAccountability {
	 bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: auto!important;
}

.arrow1 {
	left: 128px;
    position: absolute;
    top: -100px;
}

.arrow2 {
	position: absolute;
	 right: 128px;
    top: -101px;
}

.pageFooter {
	font-family: 'Georgia';
	background: #fcb316;
	font-size: 32px;
	color: #FFF;
	line-height: 40px;
	text-align:  center;
	box-sizing: border-box;
    padding: 50px 0;
}

.footerSocialLinks ul {
	margin: 30px 0 0;
	padding: 0;
	list-style: none;
	display: block;
}

.footerSocialLinks li {
	margin-right: 50px;
	vertical-align: top;
	display: inline-block;
}

.footerSocialLinks li:last-child {
	background-image: none;
	margin: 0;
}

.footerSocialLinks li:nth-child(3){
	margin-right: 10px;
}

.footerSocialLinks li:nth-child(3) img {
	margin: 4px 0 0;
}

.footerSocialLinks li:nth-child(3) figure, .footerSocialLinks li:last-child figure  {
	background: none;
}

.footerSocialLinks figure {
	background: url(../images/iconDownloadHolder.png) no-repeat center center;
	width: 31px;
	height: 30px;
	position: relative;
	margin: 0;
}

.footerSocialLinks img.iconArrow {
	position: absolute;
	top: 0;
	left: 9px;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.footerSocialLinks li:hover img.iconArrow {
	top: 4px;
}

.footerSocialLinks span {
	font-family: 'arialblack';
	font-size: 14px;
	text-transform: uppercase;
	line-height: 13px;
	padding: 0 0 0 5px;
	box-sizing: border-box;
	vertical-align: top;
}

.footerSocialLinks a {
	color: #FFF;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.footerSocialLinks li a:hover {
	color: #fab231;
}


.footerSocialLinks figure, .footerSocialLinks span {
	display: inline-block;
}

.footerSocialLinks li.socialIcon {
	overflow: hidden;
	position: relative;
	height: 32px;
}

.footerSocialLinks li.socialIcon a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


.footerSocialLinks li.socialIcon img {
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.footerSocialLinks li.socialIcon:hover img {
	margin-top: -68px;
}

.footerSocialLinks li a:hover {
	color: #fff000;
}

.footerSocialLinks {
	display: none;
}


@media screen and (max-width: 1190px) {
	.pageLogo.column, .headerRight.column, .bannerContent  {
		padding: 0 15px;
		box-sizing: border-box;
	}
	
	.headerRight li {
		margin-right: 20px;
	}
	
	.nowTheTimwe, .waterShedYer, .heightendSection, .clearlyDefinedRoadmap, .pageFooter {
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}
	
	.logoAndTitle {
		left: 15px;
	}
	
	.pageNav li span {
		margin-right: 29px;
	}	
	
}

@media screen and (max-width: 1024px) {
	.bannerArea h1 {
		font-size: 57px;
	    font-weight: normal;
	    line-height: 60px;
	}
	
	.bannerContent {
		padding-top: 140px !important;
	}
	
	.nowTheTimwe {
		font-size: 25px;
		padding: 40px 0;
	}
	
	#container h2 {
		font-size: 37px;
		padding-bottom: 15px;
	}
	
	.waterShedYer p, .equalities span, .accountability span {
		font-size: 23px;
	}
	
	.humanitarianSettings p, .adolescents p, .healthSector p, .clearlyDefinedRoadmap p {
		font-size: 18px;
	}
	
	.qualityListWrapepr {
    padding: 46px 0 0;
	}
	
	.clearlyDefineWrapper span {
		font-size: 30px!important;
	}
	
	.clearlyDefinedRoadmap .tableContentText p, .pageFooter {
		font-size: 22px;
	}
	
	.furtherAction p, .accountabilityContent p {
		font-size: 18px;
	}
	
	.pageFooter {
		line-height: 30px;
	}


}

@media screen and (max-width: 900px) {
	.imgGraph, .imgRegionalGraph {
		max-width: 80%;
	}
	
	.countryAccountability .imgRemedisAction {
     right: 12px;
    top: -2px;
	}
	
	.regionalAccountability .imgAccountability {
		
	}
	
	.countryAccountability .imgReview {
	    left: 20px;
    top: 46px;
	}
	
	.arrow1 {
	    left: 103px;
	    top: -100px;
	}
	
	.arrow2 {
    position: absolute;
    right: 98px;
    top: -101px;
	}
	
	.regionalAccountability .imgReview {
    bottom: 37px;
    right: 23px;
	}
	
	.regionalAccountability .imgRemedisAction {
    bottom: 1px;
    left: 9px;
	}
	
	.arrow1 {
    left: 67px;
    top: -100px;
	}
	
	.arrow2 {
    position: absolute;
    right: 61px;
    top: -101px;
	}
	
	.pageNav li span {
		margin-right: 13px;
	}	
}


@media screen and (max-width: 850px) {	
	.headerRight li.socialIcon {
		display: none;
	}
	
	
	.pageNav li span {
		margin-right: 13px;
	}
	
	.pageNav li:last-child span {
		margin-right: 0;
	} 
	
	.footerSocialLinks {
		display: block;
	}
	
	.footerSocialLinks li:nth-child(1), .footerSocialLinks li:nth-child(2){
		display: none;
	}
	
}

@media screen and (max-width: 768px) {
	.mobileLogo {
		display: block;
	}
	.pageHeader, .logoSmall  {
		display: none;
	}
	
	.pageNav {
		top: 0;
		position: absolute;
		height: 100%;
		padding: 20px 15px 20px;
		box-sizing: border-box;
	}
	
	.pageNav.sticky ul {
		transform: translateX(0%);
	}
	
	.pageNav li {
		clear: both;
		margin: 0 0 10px;
		text-align: left;
		display: block;
	}
	
	.mobNav {
		display: block;
	}
	
	.pageNav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100px;
		display: block;
	}
	
	.headerScroll {
		position: relative;
	}
	
	.pageNav ul {
		width: 100%;
		background: rgba(99,151,205,0.90);
		width: 100%;
		position: absolute;
		top: 100px;
		left: 0;
		display: none;
		transition: none;
		height: auto;
		padding: 15px 10px 20px;
	}
	
	.pageNav.headerScroll.sticky {
		position: relative!important;
	}
	
	.pageNav.sticky ul {
		margin: 0;
	}
	
	.hideOnMobile {
		display: none;
	}
	
	.showOnMobile {
		display: block;
	}
	
	.mobileTableCell {
		display: table-cell;
	}
	
	.pageNav .logoSmall {
		height: 72px;
	}
	
	.pageNav .logoSmall img {
		margin-top: 0;
	}
	
	.pageNav li p {
		 font-family: 'arialblack';
		text-align: left;
		font-size: 14px;
		vertical-align: top;
		display: inline-block;
	}
	
	.pageNav li p a {
	    color: #fff;
	    display: block;
	    line-height: 17px;
	    padding: 10px 7px 10px 5px;
	}
	
	.pageNav li span {
		margin: 0;
		display: inline-block;
	}
	
	.pageNav li span em {
		display: none;
	}
	
	.pageNav ul.show {
		display: block !important;
	}
	
	.bannerContent {
		width: 70%;
	}
	
	.bannerArea {
		min-height: 440px;
	}
	
	.bannerArea h1 {
	    font-size: 30px;
	    padding: 12px 0 0;
	    line-height: 37px;
	}
	
	.bannerArea span {
		font-size: 25px;
	}
	
	.equalitiesList span {
		font-size: 18px;
	}
	
	.heightendListWrapepr.medium-up-2 > .column, .medium-up-2 > .columns {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	
	.heightendList, .clearlyDefineList {
		moz-border-radius: 0%;
		-webkit-border-radius: 0%;
		border-radius: 0%;
		padding: 0;
	}
	
	.tableContent, .heightendList, .tableContentText {
		display: block;		
	}
	
	.tableWrapper {
		position: relative;
	}
	
	.heightendListWrapepr.medium-up-2 > .column:last-child, .heightendListWrapepr.medium-up-2 > .columns:last-child {
		float: none
	}
	
	.clearlyDefineWrapper.medium-up-2 > .column, .medium-up-2 > .columns, .clearlyDefineWrapper .column.clearlyDefineList:last-child {
		float: none;
		margin: 0 auto;
	}
	
	.heightendListWrapepr .column, .heightendListWrapepr .heightendList, .clearlyDefineWrapper .column, .heightendListWrapepr .heightendList {
		padding: 0 0 15px 0;
		width: 100% !important;
	}
	
	.clearlyDefineList {
		margin-bottom: 15px!important;
	}
	
	.iconCommitment, .iconFinancial {
		clear: both;
		position: relative;
		margin: 15px auto 0 auto;
		top: 0;
	}
	
	.furtherActionContent .column, .accountabilityLeft .column {
		float: none;
		width: 100%;
		padding-bottom: 50px;
	}
	
	.accountabilityLeft.column {
		width: 100%;
		float: none;
	}
	
	.accountabilityRight.column {
		width: 67%;
	    float: none;
	    margin: 0 auto;
	    float: none!important;
	}
	
	.countryAccountability, .regionalAccountability {
	    width: 270px;
	    margin: 0 auto 121px;
	}
	
	.countryAccountability .imgRemedisAction {
	    right: 0px;
    	top: -7px;
    	max-width: 27%;
	}
	
	.countryAccountability .imgReview {
	   left: 5px;
    	top: 26px;
    	max-width: 11%;
	}
	
	.countryAccountability .imgAccountability, .regionalAccountability .imgAccountability {
    max-width: 50%;
	}
	
	.accountabilityRight.column {
		width: 100%;
	}
	
	.regionalAccountability .imgRemedisAction {
    bottom: -15px;
    left: 5px;
    max-width: 28%;
	}
	
	.regionalAccountability .imgReview {
    bottom: 15px;
    right: 12px;
     max-width: 12%;
	}
	
	.pageNav li span i {
		display:  none;
	}
	
	.footerSocialLinks li:nth-child(1), .footerSocialLinks li:nth-child(2){
		display: inline-block;
	}
	

}

@media screen and (max-width: 640px) {
	.bannerArea h1 {
	    font-size: 27px;
	    padding: 12px 0 0;
	    line-height: 37px;
	}
	
	.bannerContent {
		width: 100%;
    padding-top: 130px !important;
	}
	
	.bannerArea span {
    font-size: 20px;
	}
	
	
	#container h2 {
		font-size: 24px;
		line-height: 30px;
	}
	
	.waterShedYer p {
		font-size: 17px;
		line-height: 30px;
	}
	
	.waterShedYer p, .equalities span, .accountability span, .nowTheTimwe {
		font-size: 20px;
	}
	
	.titleText {
		 font-size: 14px;
	}
	
	.pageNav li p {
		 font-family: 'arialblack';
	}	
	
	
	
}

@media screen and (max-width: 560px) {
	.footerSocialLinks li:nth-child(1), .footerSocialLinks li:nth-child(2){
		margin: 0 0 10px;
		display: block;
	}
}